<!DOCTYPE html>
<html lang="zh">

<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     {{>title}}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>

<body>
      <h1>野狗定时任务管理</h1>
      <main>
	<input type="text" name="email" class="email-input" placeholder="邮件地址" autofocus="">
        	<br>
        	<input type="password" name="email" class="pass-input" id="pass-input" placeholder="填写至少8位字符密码" >
        	<br>
             <input type="password" name="email" class="pass-input re-pass-input" id="re-pass-input" placeholder="确认密码" >
        	<button class="index-btn" id="register">注册</button>
      </main> 	
     <script type="text/javascript" src="/javascript/jquery.min.js"></script>
     <script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
     <script type="text/javascript" src="/javascript/register.js"></script> 
</body>
</html>