<div class="main">
        <ul>
            Auth:
            <li>User:
                <input type="text" id="user">
            </li>
            <li>Pass:
                <input type="password" id="pass">
            </li>
             <button id="confirm">Confirm</button>
        </ul>


        <ul class="emails">
            <span>Emails:</span>
            <button id="add">Add</button>
        </ul>
</div>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
<script type="text/javascript" src="/javascript/index.js"></script>