<div class="main">
    <ul>
        <ul>
            auth:
            <li>user:
                <input type="text" id="user">
            </li>
            <li>pass:
                <input type="password" id="pass">
            </li>
        </ul>
        <ul>
            emails:
            <ul>
                <li>subject:
                    <input type="text" id="subject">
                </li>
                <li>to:
                    <input type="text" id="to">
                </li>
                <li>content:
                    <textarea id="content"></textarea>
                </li>
                <li>time:
                    <input type="text" id="time">
                </li>
                <button>发送邮件</button>
            </ul>

        </ul>
    </ul>
</div>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
<script type="text/javascript" src="/javascript/index.js"></script>